body {
  margin: 0;
  font-family: "Courier New";
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.header {
  display: flex;
  align-items: center;
  background-color: #98bec8;
  margin: 0;
  padding: 0;
  font-size: 28px;
  width: 100vw;
}

div.header>* {
  padding: 24px;
}

a.headerButton {
  text-decoration: none;
  color: black;
  white-space: nowrap;
  border-right: 4px solid #deeaed;
  width: 180px;
  text-align: center;
}

button {
  text-align: center;
  border-right: 4px solid #deeaed;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  padding: 5px 15px;
  background-color: #98bec8;
}

a.headerButton:hover {
  background-color: #deeaed;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 32px;
  padding-top: 64px;
}

div.deviceList {
  padding-bottom: 24px;
  padding-top: 24px;
}

div.deviceListItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #98bec8;
  border-bottom: 3px solid #deeaed;
  height: 64px;
  min-width: 512px;
}

div.deviceListItem:hover {
  background-color: #deeaed;
}

div.deviceListColumn {
  padding: 24px;
  width: 50%;
}

input,
select {
  width: 100%;
  height: 48px;
  font-size: 18px;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  background-color: #deeaed;
  border: 1px solid #98bec8;
  outline: none;
  appearance: none;
}


div.deviceListColumn:last-child {
  text-align: end;
}

div.deviceInformationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.deviceInformationWrapper>* {
  margin: 24px;
}

img.deviceImage {
  height: 300px;
  width: auto;
}

div.deviceInformation {
  display: flex;
  height: auto;
  width: auto;
  padding: 24px;
  background-color: #98bec8;
  flex-direction: column;
}

div.deviceInformation>* {
  padding: 6px;
}

div.feedbackListItem {
  background-color: white;
  margin-top: 24px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

div.feedbackListItem>*:last-child {
  margin-top: 24px;
}

div.feedbackForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.devicePage {
  min-width: 512px;
}

div.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

div.buttonrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button.submitbutton {
  background-color: white;
  border: 5px solid #98bec8;
  border-radius: 25px;
  padding: 12px;
  margin: 12px;
  font-size: 18px;
}

button.submitbutton:hover {
  background-color: #deeaed;
}